.dialogs {
    display: grid;
    grid-template-columns: 2fr 15fr;

}

.dialogItem {
    pudding: 10px;
}

.dialogItem .active {
    color: gold;
}

.messages {
    pudding: 10px;
}

.messages .message {

}
